body {
            margin: 0;
            padding: 0;
            height: 2000px;
        }

        .floating-icon {
            position: fixed;
            right: 10px;
            bottom: 20px;
            z-index: 1000;
            cursor: pointer;
            animation: float 2s infinite;
            text-align: center;
        }

        .floating-icon img {
            width: 80px;
            height: 80px;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }

        /* Chat window styles */
        .chat-window {
            position: fixed;
            right: 0;
            bottom: 100px;
            width: 100%;
            max-width: 400px;
            height: 100%;
            max-height: 520px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            display: none;
            z-index: 999;
            flex-direction: column;
            justify-content: flex-start;
        }

        .chat-header {
            display: flex;
            align-items: center;
            background-color: skyblue;
            padding: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .header-icon {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .header-name {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            color: #f0f0f0;
            margin-right: auto;
        }

        .name {
            font-weight: bold;
            font-family: 'Playfair Display SC', serif;
            font-size: 18px;
            color: black;
            margin: 0;
        }

        .status {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: white;
        }

        .status-dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: green;
            margin-right: 5px;
        }

        .close-button {
            margin-left: auto;
            background: none;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }

        .chat-iframe {
            width: 100%;
            height: calc(100% - 60px);
            border: none;
        }
